/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "orion";
    src: url("../font/orion.woff2") format("woff2"),
         url("../font/orion.woff") format("woff");
}

@font-face {
    font-family: "ascript";
    src: url("../font/ascriptt.woff2") format("woff2"),
         url("../font/ascriptt.woff") format("woff");
}

/* ******************************** */
/* Colores */
/* ******************************** */

body
{
    font-family: orion, sans-serif;

}
